.titulo {
  text-align: center;
  margin-bottom: 2rem;
}

.grupo-visados {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}


.numero {
  font-size: 2rem;
  font-weight: bold;
}

.estado {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.example-form-field {
  width: 200px;
}

.card-title {
  background-color: white;
}