<div class="acciones-flotantes">
  <div class="dcol" style="align-items: center;">
    <button mat-fab (click)="onAprobar()" class="checkbtn">
      <mat-icon class="checkIcon">check</mat-icon>   
    </button>
    <span class="checkDesc">Aprobar datos catastrales</span>
  </div>
  <div class="dcol" style="align-items: center;">
    <button mat-fab color="warn" (click)="onCorrecciones()" class="cancelbtn">
      <mat-icon class="blockIcon">block</mat-icon>
    </button>
    <span class="blockDesc">Enviar Correcciones</span>
  </div>
</div>
